<div class="footer" id="footer">
  <div class="row">
    <ul class="about__contact-links">
      <li>
        Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>
      </li>
      <li>
        <a href="https://fyi.org.nz/help/contact">Contact us</a>
      </li>
      <li>
        <a href="/help">Help</a>
      </li>
      <li>
        <a href="/help/privacy">Privacy and cookies</a>
      </li>
      <li>
        <a href="/help/api">API</a>
      </li>
      <li>
        <a href="https://twitter.com/FYI_NZ">@FYI_NZ</a>
      </li>
      <li class='pull-right'>
        Supported by
        <a href="http://nzherald.co.nz"><img class='sponsor' src="//s3-ap-southeast-2.amazonaws.com/nzh-assets/herald.png" alt="New Zealand Herald"></a>
      </li>
    </ul>
  </div>
</div>
