<div id="banner" class="banner">
  <div id="banner_inner" class="banner_inner">
    <div id="banner_content" class="banner_content">
      <div class="banner_site-title">
        <h1><a href="/" class="site-title__logo" id="logo">FYI</a></h1>
      </div>

      <div class="rsp_menu_button">
        <a href="#banner" class="open"> <i class="icon-menu"></i> Menu </a>
        <a href="#" class="close"> <i class="icon-menu"></i> Close </a>
      </div>

      

        <div id="logged_in_bar" class="logged_in_bar">
          <div id="logged_in_links" class="logged_in_links">
              <a href="https://fyi.org.nz">Go to FYI.org.nz</a>
          </div>
        </div>
    </div>

    <div id="topnav" class="topnav">
  <ul id="navigation" class="navigation">

    <li class="">
      <a href="https://fyi.org.nz/select_authority" id="make-request-link">Make a request</a>
    </li>

    <li class="">
      <a href="https://fyi.org.nz/list/successful">Browse requests</a>
    </li>

    <li class="">
      <a href="https://fyi.org.nz/body/list/all">View authorities</a>
    </li>


    <li class="selected">
      <a href="/">Help</a>
    </li>

  </ul>
</div>

  </div>
</div>
